body{
    background-color: rgb(224, 224, 224);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherform{
    margin: 20px;
}
.cityinput{
    font-weight: bold;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    width: 50px;
    padding: 5px 5px;
}
button[type="submit"]{
    padding: 8px 8px;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background-color: rgb(84, 252, 84);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: rgb(29, 243, 29);
}
.card{
    background: linear-gradient(180deg, rgb(127, 127, 233), rgb(248, 197, 102));
    padding: 50px;
    box-shadow: 3px 3px 5px grey;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 20px;
}
p{
    font-size: 1rem;
    margin: 5px 0;
}
.citydisplay, .tempdisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.712);
    margin-bottom: 20px;
}
.humiditydisplay{
    font-weight: bold;
    margin-bottom: 20px;
}
.descdisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}
.emoji{
    margin: 0;
    font-size: 5rem;
}
.error{
    font-size: 2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.774);
}